* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  min-height: 100vh;
}

main {
  flex: 1;
}

#app {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
}

footer {
  /* text-align: center; */
}

/* 
.logo {
  height: 6em;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */